.ScrollUpButton{
    width: 55px !important;
    height: 55px !important;
    background: darkgrey !important;
    padding-left: 10px !important;
    background-color: rgba(50, 50, 50, 0.5) !important;
    z-index: 1000 !important;
    margin-right: -30px;
    svg{
        margin-top: -4px;
        margin-left: -1px;
    }
}
